<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find fusion)/params/fusion_sim.yaml"/>
    <rosparam command="load" file="$(find calibration)/params/sensor_model_sim_1.yaml"/>

    <node pkg="fusion_sim_interface" type="fusion_sim_interface" name="fusionSimInterface" output="screen"/>
    <node pkg="fusion" type="fusion" name="fusion" output="screen"/>
    
    <node pkg="rosservice" type="rosservice" name="set_fusion_log_level" args="call /fusion/set_logger_level 'ros.fusion' 'info'" />
</launch>
