<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find fusion)/params/fusion_sim.yaml"/>
    <rosparam command="load" file="$(find calibration)/params/sensor_model_sim_2_camera.yaml"/>
    <rosparam command="load" file="$(find calibration)/params/sensor_model_sim_2_lidar.yaml"/>

    <node pkg="fusion_sim_interface" type="fusion_sim_interface" name="fusionSimInterface" output="screen"/>
    <node pkg="fusion" type="fusion" name="fusion" output="screen"/>

    <include file="$(find sensors_visualizator)/launch/sensors_visualizator.launch">
        <arg name="rviz_config" value="$(find sensors_visualizator)/rviz/sensors_sim_visualizator.rviz"/>
    </include>
</launch>
