<?xml version="1.0"?>
<launch>
    <rosparam command="load" file="$(find path_tracking)/params/path_tracking_rc.yaml"/>
	<node pkg="path_tracking" type="path_tracking" name="pathTracking" output="screen"/>
    <node pkg="ptp_trajectory" type="ptp_trajectory" name="PTPtrajectory" output="screen"/>
</launch>
