# IDEs and editors
/.idea
.project
.classpath
.c9/
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
src/.vscode

devel
build
darknet
documentation
druha_jazda.svo
yolov3-tiny.weights
velodyne
