# IDEs and editors
/.idea
.project
.classpath
.c9/
.settings/
*.sublime-workspace
.cache
.clangd

# IDE - VSCode
.vscode
src/.vscode\
!.vscode/extensions.json

# ROS
.catkin_tools/
logs
devel
build
darknet
documentation
velodyne
libdarknet.so
src/camera_cone_detection/recordings/
src/camera_cone_detection/Darknet_cone_detection/
*.bag
data/
