# IDEs and editors
/.idea
.project
.classpath
.c9/
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode
src/.vscode

# ROS
.catkin_tools/
logs
devel
build
darknet
documentation
velodyne
libdarknet.so
src/camera_cone_detection/recordings/
src/camera_cone_detection/Darknet_cone_detection/
