<?xml version="1.0"?>
<launch>
    <node pkg="sensors_visualizator" type="sensors_visualizator" name="sensorsVisualizator" output="screen"/>
    <node pkg="rviz" type="rviz" name="sensorsVisualizator_rviz"  respawn="false"
        args="-d $(find sensors_visualizator)/rviz/sensors_visualizator.rviz" output="screen">
    </node>
    
</launch>
