<launch>
  <rosparam command="load" file="$(find path_planning)/params/path_planning_rc.yaml"/>
  <node
    pkg="path_planning"
    type="path_planning"
    name="pathPlanning" 
    output="screen"
  />
  <!--<node
    pkg="rviz"
    type="rviz"
    name="rviz" 
    args="-d $(find path_planning)/rviz/config.rviz"
  />-->

  <node pkg="rosservice" 
    type="rosservice" 
    name="set_fusion_log_level" 
    args="call /fusion/set_logger_level 'ros.pathPlanning' 'info'" />
</launch> 
