<launch>
  <rosparam command="load" file="$(find path_planning)/params/path_planning_sim.yaml"/>
  <node pkg="slam_sim_interface" type="slam_sim_interface" name="slamSimInterface" output="screen"/>
  <node
    pkg="path_planning"
    type="path_planning"
    name="pathPlanning" 
    output="screen"
  />
</launch> 
